/*left side*/
.list-view{
   -fx-box-border:0;
   -fx-background-color: #253241;
}
/*.list-view:focused{
    -fx-box-border:0;
    -fx-border-color: #253241;
}*/
.list-view .list-cell{
    -fx-background-color:#253241;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4c6175;
    -fx-text-fill: #ffffff;
}

.mylist-view .list-cell:focused{
    -fx-background-color:#6f14dd;
}
.mylist-view .list-cell:hover{
    -fx-background-color:#4c6175;
}
.background{
    -fx-background-image: url("/imgs/Artboard_2.png");
}
.jfx-tab-pane .headers-region { 
    -fx-padding: 2px; 
}
.jfx-tab-pane .tab-header-background { 
    -fx-background-color: #253241; 
}


.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button ,
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar  .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:2px;
}

.list-view .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color:#4c6175;
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 2em;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: linear-gradient(to left ,#6407ea,#c14c91);
}
/*****************************************************************************/

/*right side*/

/*scroll pane*/
.scroll-pane > .viewport  { 
    -fx-background-color: transparent; 
}
.scroll-pane{
        -fx-border-color: #FFFFFF;
        -fx-background-color: transparent; 
        
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color:#ffffff;
}

/*msg textfield*/
.msg-text-field{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#6407ea;
}
/*message*/
.textFlowMessage
{
    -fx-background-color: #eeeeef; 
    -fx-padding: 10px;
    -fx-background-radius:0px 15px 15px 15px;
}
.textFlowMessageFlipped
{
    -fx-background-color:#6407ea; 
    -fx-padding: 10px;
    -fx-background-radius:15px 0px 15px 15px;
}
.textWhite{
    -fx-text-fill:#ffffff; 
    -fx-fill:#ffffff;
}
/*sign in background*/
.signin-backgroud{
    -fx-background-image: url(/imgs/signinBackground3.png);
}